services:
  postgres:
    image: postgres:latest
    container_name: my-postgres
    restart: always
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    ports:
      - 5433:5432
    volumes:
      - postgres_data:/var/lib/postgresql
    networks:
      - nestjs-course

volumes:
  postgres_data:

networks:
  nestjs-course: